/* home.css */
.contimg {
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}
.sizehomelogo{
  width: 60%;
}

.mgcont1{
  margin-top: 10px;
}
.mgcont2{
  margin-top: -40px;
}
.mgcont4{
  margin-top: 10px;
  padding-bottom: 10%;
}
.texted{
  font-size: 68px;
  font-weight: bold;
  color: white;
}
.texted2{
  font-size: 68px;
  color: white;
}
.textconcept{
  color: white;
}
.scrollbtn{
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.scroll{
  width: 30px;
  cursor: pointer;
}
.centerall{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fontpilar{
  margin-top: 20px;
  font-size: 68px;
  color: #06543C;
  font-weight: bold;

}
.fontpilarmin{
  font-size: 45px;
  color: #06543C;
}
.fontPpilares{
color: #46967F;
font-weight: bold;
font-size: x-large;
}
.cardstyle{
  background-color: #F0F9EC;
  border: none;
  margin-bottom: 40px;
  width: 100%;
}
.colorfontcard{
  font-size: large;
  color: #06543C !important;
  margin-top: 10px;
}
.subti{
  font-size: large;
  color: #012C1E;
  font-weight: bold;
}
.stbtnfichacrad{
  background-color: #F5A301;
  width: 55%;
  border-radius: 500px;
  color: white;
  font-weight: bold;
}
.styleimgcard{
 padding-top: 25px;
 padding-left: 25px;
 padding-right: 25px;
 border-radius:40px;
}

/* Agrega estilos adicionales según sea necesario */
.footerhome{
  background-color: #012C1E;
  padding: 20px;
}


/* -----------------------medias de css */
@media (max-width: 330px) {
  .sizehomelogo{
    width: 100%;
    margin-top: 5px;
  }
  .contimg {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
  .textconcept {
    color: white;
    font-size: 10px;
  }
}
@media (max-width: 710px) {
  .fontpilar{
    margin-top: 20px;
    font-size: 30px;
    color: #06543C;
    font-weight: bold;
  }
  
  .fontpilarmin{
    font-size: 30px;
    color: #06543C;
  }
  .fontPpilares{
    color: #46967F;
    font-weight: bold;
    font-size: large;
    }
}

@media (max-width: 1366px) {
  .texted{
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
  .texted2{
    font-size: 50px;
    color: white;
  }
}

@media (min-width: 1000px) and (max-width: 1280px) {
  .texted {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .texted2 {
    font-size: 30px;
    color: white;
  }
  .sizehomelogo {
    width: 40%;
  }
  .textconcept {
    color: white;
    font-size: 18px;
  }
  .mgcont1 {
    margin-top: 50px;
  }
  .mgcont2 {
    margin-top: -20px;
  }
  .mgcont4 {
    margin-top: 5px;
  }
}
@media (max-width: 1366px) {
  .texted{
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
  .texted2{
    font-size: 50px;
    color: white;
  }
}

@media (min-width: 1000px) and (max-width: 1280px) {
  .texted {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .texted2 {
    font-size: 30px;
    color: white;
  }
  .sizehomelogo {
    width: 40%;
  }
  .textconcept {
    color: white;
    font-size: 20px;
  }
  .mgcont1 {
    margin-top: 50px;
  }
  .mgcont2 {
    margin-top: -20px;
  }
  .mgcont4 {
    margin-top: 5px;
  }
}
@media (min-width: 1281px) and (max-width: 1600px) {
  .texted {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .texted2 {
    font-size: 30px;
    color: white;
  }
  .sizehomelogo {
    width: 45%;
  }
  .textconcept {
    color: white;
    font-size: 20px;
  }
  .mgcont1 {
    margin-top: 50px;
  }
  .mgcont2 {
    margin-top: -20px;
  }
  .mgcont4 {
    margin-top: 5px;
  }
}
@media (min-width: 1601px) and (max-width: 1900px) {
  .texted {
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
  .texted2 {
    font-size: 50px;
    color: white;
  }
  .sizehomelogo {
    width: 50%;
  }
  .textconcept {
    color: white;
    font-size: 30px;
  }
  .mgcont1 {
    margin-top: 50px;
  }
  .mgcont2 {
    margin-top: -20px;
  }
  .mgcont4 {
    margin-top: 5px;
  }
}
@media (min-width: 711px) and (max-width: 900px) {
  .fontpilar{
    margin-top: 20px;
    font-size: 40px;
    color: #06543C;
    font-weight: bold;
  
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .fontpilar{
    margin-top: 20px;
    font-size: 25px;
    color: #06543C;
    font-weight: bold;
  
  }
  .fontpilarmin{
    font-size: 25px;
    color: #06543C;
  }
  .fontPpilares{
    color: #46967F;
    font-weight: bold;
    font-size: large;
    }
    .sizehomelogo{
      width: 90%;
      margin-top: -25px;
    }
    .texted{
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
    .texted2{
      font-size: 20px;
      padding-top: 20px;
      color: white;
    }
    .mgcont1{
      margin-top: 5px;
    }
    .textconcept{
      color: white;
      font-size:18px;
    }
    .scrollbtn{
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
    .scroll{
      width: 25px;
      cursor: pointer;
    }
    .mgcont4{
      margin-top: 20px;
    }
    .contimg {
      position: relative;
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: center;
    }
}
@media (min-width: 401px) and (max-width: 600px) {
  .contimg {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
    .sizehomelogo{
      width: 90%;
      margin-top: -25px;
    }
}
@media (max-width: 330px) {
  .sizehomelogo{
    width: 100%;
    margin-top: 5px;
  }
  .contimg {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }

}